<app-home
    id="home"
    [ngClass]="{ mobile: !isDesktop, desktop: isDesktop }"
    appScrollBody
    (onScroll)="onScroll.emit($event)"
></app-home>
<app-galery
    *ngIf="isDesktop"
    id="galery"
    (imageIndex)="emit($event)"
    [onNextSub]="onNextSub"
    [onPrevSub]="onPrevSub"
    [ngClass]="{ mobile: !isDesktop, desktop: isDesktop }"
    appScrollBody
    (onScroll)="onScroll.emit($event)"
></app-galery>

<app-mobile-galery
    *ngIf="!isDesktop"
    id="galery"
    (imageIndex)="emit($event)"
    [onNextSub]="onNextSub"
    [onPrevSub]="onPrevSub"
    [ngClass]="{ mobile: !isDesktop, desktop: isDesktop }"
    appScrollBody
    (onScroll)="onScroll.emit($event)"
></app-mobile-galery>
<app-about
    id="about"
    [ngClass]="{ mobile: !isDesktop, desktop: isDesktop }"
    appScrollBody
    (onScroll)="onScroll.emit($event)"
></app-about>
<app-prices
    id="prices"
    [ngClass]="{ mobile: !isDesktop, desktop: isDesktop }"
    appScrollBody
    (onScroll)="onScroll.emit($event)"
></app-prices>
<app-contacts
    id="contacts"
    [ngClass]="{ mobile: !isDesktop, desktop: isDesktop }"
    appScrollBody
    (onScroll)="onScroll.emit($event)"
></app-contacts>
