<div
    [ngClass]="{ 'desktop-wrapper': isDesktop, 'mobile-wrapper': !isDesktop }"
    [attr.id]="isDesktop ? '' : 'about-mobile-wrapper'"
    (touchstart)="touchstart($event)"
    (touchmove)="touchmove($event)"
    (mousewheel)="mousewheel($event)"
>
    <div>
        <div class="about-text">
            Моя дружба с фотографией началась более лет назад. Репортажной и портретной съемкой занимаюсь с года. В моем
            объективе побывали события разного масштаба: от уютных детских и семейных праздников до крупных концертов и
            фестивалей.
        </div>
        <div class="about-text">
            В репортажной съемке я стараюсь сложить из мимолетных эмоций и самобытных деталей живую, запоминающуюся
            историю, которую вы будете с интересом смотреть спустя много лет.
        </div>
        <div class="about-text">
            В портретах больше всего ценю простоту и естественность, поэтому стараюсь избегать вычурных декораций (но
            если вы сильно попросите, я обещаю попробовать).
        </div>
        <div class="about-text">
            Если вы планируете большое мероприятие и хотите быть уверены в результате, мы можем встретиться заранее и
            обсудить подробности съемки. Это бесплатно и ни к чему вас не обязывает. По любым вопросам о предстоящей
            съемке вы можете мне написать или позвонить.
        </div>
        <div class="about-flex">
            <div class="about-text">
                <span class="subheader">Репортажная съемка</span>
                Первые часа съемки — в час, начиная с часа — в час. Стоимость включает отбор и обработку фотографий:
                коррекцию тона, цвета, контраста и базовую ретушь крупных и средних портретов. В среднем за один час
                получается - обработанных фотографий.
            </div>
            <div class="about-text">
                <span class="subheader"> Портретная съемка</span>
                Один час съемки стоит . За каждый час вы получите - фотографий с журнальной ретушью и примерно снимков в
                базовой ретуши. Вместе с вами мы продумаем образ, локацию, позы.
            </div>
        </div>
        <div class="about-text">
            По вашей просьбе могу обработать и передать - самые яркие фотографии сразу после съемки или на следующий
            день. В зависимости от объема и загрузки на подготовку репортажных фотографий обычно уходит от дней до
            месяца, портретных — до недель. Готовые фотографии будут доступны по ссылке в двух разрешениях: в среднем —
            для социальных сетей и в максимальном — для печати. Я храню фотографии у себя в течение одного года даже,
            если вы их скачали.
        </div>
        <div class="about-text">
            Оплата съемок продолжительностью до двух часов происходит в день съемки. Оплата съемок более двух часов: % —
            в день съемки, % — по факту готовности всех фотографий.
        </div>
    </div>
    <div class="about-image">
        <img src="assets/galery/portrait.jpg" alt="Это я" />
    </div>
</div>
