<div class="messengers-plate">
  <a target="_blank" rel="noopener" href="https://vk.com/maksim.nefedov"
    ><img src="assets/messengers/vk.png" alt="vkontakte"/></a
  ><a
    target="_blank"
    rel="noopener"
    href="https://www.instagram.com/nefedovphoto/"
    ><img src="assets/messengers/instagram.png" alt="instagram"/></a
  ><a target="_blank" rel="noopener" href="https://t.me/nefedovphoto"
    ><img src="assets/messengers/telegram.png" alt="telegram"/></a
  ><a target="_blank" rel="noopener" href="whatsapp://send?phone=79111525216"
    ><img src="assets/messengers/whatsapp.png" alt="whatsapp"/></a
  ><a target="_blank" rel="noopener" href="viber://send?phone=79111525216"
    ><img src="assets/messengers/viber.png" alt="viber"
  /></a>
</div>
<div class="contacts-tel-mail">
  <a href="tel:79111525216">+7 (911) 152-52-16</a
  ><a href="mailto:nefedov.photo@gmail.com">nefedov.photo@gmail.com</a
  ><a>Санкт-Петербург</a>
</div>
<div class="contacts-city-year"><span>© Maksim Nefedov 2020</span></div>
