<div
    [ngClass]="{ 'desktop-wrapper': isDesktop, 'mobile-wrapper': !isDesktop }"
    [attr.id]="isDesktop ? '' : 'prices-mobile-wrapper'"
    (touchstart)="touchstart($event)"
    (touchmove)="touchmove($event)"
    (mousewheel)="mousewheel($event)"
>
    <div class="prices-text">
        Первые 3 часа съемки — 2500 в час, начиная с 4 часа — 2000 в час. Стоимость включает отбор и обработку
        фотографий: коррекцию тона, цвета, контраста и базовую ретушь крупных и средних портретов. В среднем за один час
        получается 50-70 обработанных фотографий.
    </div>
</div>
